@@font-face {
  font-family: Nunito;
  src:url(./css/Google-fonts/Nunito-VariableFont_wght.ttf);
}

@@font-face {
  font-family: Luxurious;
  src:url(./css/Google-fonts/LuxuriousScript-Regular.ttf);
}
./css/fonts.css
